body {
    --accent: var(--red);
}
input {
    accent-color: var(--accent);
}
input[type="number"] {
    border: 0;
    border-bottom: 1px dotted var(--accent);
    color: var(--accent);
    margin-left: 10px;
}
input[type="number"]:focus {
    border-bottom: 2px solid var(--accent);
    outline: none;
}
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
label {
    align-items: center;
    display: flex;
    margin: 10px 0;
}
label code {
    width: 100px;
}
.box {
    border: 3px dotted var(--accent);
    border-radius: 20px;
    height: 200px;
    pointer-events: none;
    width: 200px;
}
.example {
    align-items: center;
    display: flex;
}
.inputs {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}